# Node modules
node_modules
ss
dump.sql
*.cmd
*.sh

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite
