@layout('email')

@section('content')
    <h1>Ваша ссылка для входа на сайт</h1>
    <p>Здравствуйте, {{ user.username }}</p>
    <p>Вы являетесь зарегистрированым пользователем сайта <a href="{{siteUrl}}">{{siteName}}</a>.</p>
    <p>Мы приготовили для вас одноразовую ссылку для входа на сайт.</p>
    <p>Если Вы не запрашивали этого, просто проигнорируйте это письмо.<//>
@endsection