@layout('email')

@section('content')
    <h3> Здравствуйте, {{ user.username }} </h3>
    <p class="lead">Вы зарегистрированы на сайте <a href="{{siteUrl}}">{{siteName}}</a></p>
    <p>Только что мы получили запрос на восстановление пароля к вашей учетной записи.</p>
    <p>Если это были не Вы, просто проигнорируйте это письмо.</p>
	<p>Чтобы сбросить пароль, щелкните по кнопке, после этого Вы войдете в приложение и сможете установить новый пароль.</p>
@endsection